*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{
background:#0f172a;
color:white;
overflow-x:hidden;
}

#stars{
position:fixed;
width:100%;
height:100%;
background:
radial-gradient(white 1px, transparent 1px);
background-size:40px 40px;
opacity:.25;
z-index:-1;
}

.hero,
.section,
.ending{
min-height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
padding:40px;
text-align:center;
}

.gift-box{
font-size:120px;
cursor:pointer;
animation:float 2s infinite;
}

@keyframes float{
50%{
transform:translateY(-15px);
}
}

button{
padding:15px 30px;
border:none;
border-radius:30px;
cursor:pointer;
margin-top:20px;
font-size:16px;
}

.hidden{
display:none;
}

#storyText{
max-width:700px;
font-size:1.4rem;
line-height:2;
}

.polaroid-gallery{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
width:100%;
max-width:1200px;
}

.card{
background:white;
color:black;
padding:10px;
border-radius:10px;
transform:rotate(-2deg);
}

.card img{
width:100%;
height:300px;
object-fit:cover;
}

#letter{
max-width:850px;
line-height:2;
font-size:1.2rem;
}

.ending img{
width:300px;
border-radius:20px;
margin-bottom:20px;
}

.ending h1{
font-family:"Great Vibes",cursive;
font-size:4rem;
}